* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: gray;
}

.container {
    height: 100vmin;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    background: linear-gradient(#e66465, #9198e5);
    border: 2px solid black;
    border-radius: 23px;
    color: #fff;
    height: 90%;
    width: 65vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap: 22px; */
}

.card h1 {
    text-decoration: underline;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.inp {
    width: 40vmin;
    height: 20px;
    border: 2px solid #9198e5;
    border-radius: 13px;
    padding: 5px 5px;
}

.btn i {
    border: 2px solid #9198e5;
    padding: 7px;
    border-radius: 13px;
    cursor: pointer;
}

.city {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.info_div {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    gap: 7px;
}

.card .weatherImg>i {
    font-size: 100px;
    background: linear-gradient(rgb(239, 251, 13), rgb(209, 125, 22));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card .city .city_name {
    font-size: xx-large;
}

.weatherImg2 {
    font-size: 30px;
    color: rgb(27, 34, 154);
}

.info .text p {
    font-size: 20px;
}

.error {
    text-transform: capitalize;
    color: #ff006e;
    text-shadow: 0px 0px 5px #fff;
}

@media only screen and (max-width: 600px) {
    .container {
        height: 80vmax;
        width: 100%;
        margin-top: 20px;


}
    .card {
    background: linear-gradient(#e66465, #9198e5);
    border: 2px solid black;
    border-radius: 23px;
    color: #fff;
    height: 60vmax;
    width: 85vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
}